@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body{
    /* font-family: 'Roboto', Arial, Helvetica, sans-serif; */
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    background-color: aliceblue;
}
.logotext{
    font-family: 'Indie Flower';
    font-size: 35px;
}
.logo{
    height:50px;
    width:50px;
}
.asterisk{
    font-size: 9px;
    vertical-align: middle;
}
.note{
    font-size: 12px;
}
iframe{
    height: 13em;

}

